.img-sec{
    height: 450px;
    width: 100px;
}
.title-text{
    font-family: 'Bebas Neue', cursive;
    font-size: 80px;
}
*{
    font-family: 'Roboto', sans-serif;
}
.title-text-color, h2 {
    color: #FABE4C;
}
.font-weight {
    font-weight: bold;
}
